html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: $font-size;
  background: $color-body;
  @include nowie_regular;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

a {
  color: $color-link;
  text-decoration: none;
  display: block;
  @include transition(all .2s ease);

  &.functional {
    color: $color-gray;
  }

  &:hover {
    text-decoration: none;
    color: $color-link;

    * {
      text-decoration: none;
    }
  }
  
  &.delinked {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $color-link;

      * {
        text-decoration: none;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2 ,h3, h4, p {
  margin: 0;
  padding: 0;
  @include nowie_bold;
}

p {
  font-size: 1em;
  @include nowie_light;
}

h1 { font-size: 3.4em; }

h2 {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: $padding/2;
}

h3 {
  font-size: 1.5em;
  @include nowie_regular;
}

h4 {
  font-size: 1.2em;
  @include nowie_regular;
}

.button {
  font-size: .85em;
  border: 1px solid $color-link;
  @include nowie_regular;
  color: $color-link;
  cursor: pointer;
  padding: $padding/3 $padding/2;
  border-radius: 100px;
  opacity: .8;
  @include transition(all .2s ease-in-out);
  background: transparent;
  &:hover {
    background: $color-link;
    color: $color-white;
    opacity: 1;
  }
}