@font-face {
  font-family: 'nowie_vremenalight';
  src: asset-data-url('nowie_vremena_light-webfont.woff') format('woff'),
       asset-url('nowie_vremena_light-webfont.ttf') format('truetype'),
       asset-url('nowie_vremena_light-webfont.woff') format('embedded-opentype'),
       asset-url('nowie_vremena_light-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nowie_vremenaregular';
  src: asset-data-url('nowie_vremena_regular-webfont.woff') format('woff'),
       asset-url('nowie_vremena_regular-webfont.ttf') format('truetype'),
       asset-url('nowie_vremena_regular-webfont.woff') format('embedded-opentype'),
       asset-url('nowie_vremena_regular-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'nowie_vremenabold';
    src: asset-data-url('nowie_vremena_bold-webfont.woff') format('woff'),
         asset-url('nowie_vremena_bold-webfont.ttf') format('truetype'),
         asset-url('nowie_vremena_bold-webfont.eot') format('embedded-opentype'),
         asset-url('nowie_vremena_bold-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}