$color-black: #222;
$color-white: #fff;
$color-gray: #888;
$color-gray-light: #eee;
$color-gray-dark: #666;
$color-link: #F86057;
$color-body: #F6F6F6;

$width: 100%;
$padding: 30px;

$font-size-small: 0.875em;
$font-size: 1em;
$font-size-medium: 1.5em;
$font-size-big: 2.5em;