@keyframes revealing {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.about-popup {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.popup {
  z-index: 999;
  animation: revealing .3s;
  @include transition(all .5s ease-in-out);
  .overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: $color-body;
    cursor: pointer;
    z-index: 999;
  }
  .popup-close {
    z-index: 9999;
    position: absolute;
    top: $padding; right: $padding;
    cursor: pointer;
    @include transition(all .2s ease-in-out);
    img { width: 25px; }
    &:hover { opacity: .6; }
  }
  p {
    z-index: 9999;
    position: absolute;
    top: 41%; right: 0; left: 0;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
    font-size: 1.4em;
    color: #444;
    line-height: 1.5;
  }
}