@keyframes exibition-loading {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.exibition-wrapper { animation: exibition-loading .5s; }

$width-exibition-body: 850px;
$width-exibition-text: 700px;

.exibition-header {
  margin-top: -66px;
  position: relative;
  background: image_url("exibition/big.jpeg") no-repeat center center;
  background-size: cover;
  .menu {
    position: absolute;
    top: 20px; right: 0; left: 0;
    text-align: center;
    padding: 0 !important;
  }
  li a {
    color: $color-gray-dark;
  }
  li {
    display: inline-block;
    font-size: .85em;
    margin-left: 20px;
    color: $color-gray-dark !important;
    cursor: pointer;
    &:first-child { margin-left: 0; }
  }
  li a.active {
    cursor: normal;
    color: $color-black;
    text-decoration: none; 
  }
}

.exibition-header h1 {
  color: #fff;
  font-size: 3em;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.exibition-body {
  position: relative;
  z-index: 2;
  background: $color-body;
  margin: 0 auto;
  max-width: $width-exibition-body;

  h4, p {
    width: $width-exibition-text;
    margin: 40px auto;
    color: $color-black;
  }
  p {
    line-height: 1.5;
  }
}

.exibition-body img {
  width: 100%;
}

.exibition-wrapper {
  .menu {
    text-align: center;
    padding: 20px;
  }
  li {
    display: inline-block;
    font-size: .85em;
    margin-left: 20px;
    cursor: pointer;
    color: $color-link;
    &:first-child { margin-left: 0; }
  }
  li a.active {
    cursor: normal;
    color: $color-black;
    text-decoration: none; 
  }
}