@keyframes header-loading {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  40% { opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes border-color {
  0% {
    border-color: rgba(255,0,0,.4);
  }
  10% {
    border-color: rgba(255,0,255,.4);
  }
  30% {
    border-color: rgba(0,0,255,.4);
  }
  55% {
    border-color: rgba(0,255,255,.4);
  }
  70% {
    border-color: rgba(0,255,0,.4);
  }
  90% {
    border-color: rgba(255,255,0,.4);
  }
  100% {
    border-color: rgba(255,0,0,.4);
  }
}

.header.home { display: none; }
.header {
  padding: 40px 0 25px;
  animation: body-gradient 15s infinite, border-color 15s infinite;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 8px solid transparent;
  // position: relative;
  color: $color-white;
  position: fixed;
  top: 0;
  right: 20px;
  left: 20px;
  z-index: 99;
  @include respond-to(handhelds) {
    padding: 30px 0 15px;
  }
  #about-popup, #contacts-popup, .kalei-link {
    @include respond-to(handhelds) {
      display: none;
    }
  }
  a { color: $color-white; }
  .logo {
    a { display: inline-block; }
    img {
      height: 25px;
      display: block;
    }
  }
  .menu {
    position: absolute;
    top: 34px; right: 0;
    @include respond-to(handhelds) { top: 25px; }
  }
  li {
    display: inline-block;
    font-size: .85em;
    margin-left: 20px;
    color: $color-white;
    cursor: pointer;
    &:first-child { margin-left: 0; }
  }
  li a.active {
    cursor: normal;
    color: $color-black;
  }
  .icon a {
    padding: 8px;
    border: 1px solid $color-white;
    border-radius: 100%;
    font-size: 0.85em;
    opacity: .7;
    &:hover {
      background: $color-white;
      opacity: 1;
      color: $color-black;
    }
  }
}