@keyframes header-loading {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  70% { opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.header.home { display: none; }
.header {
  padding: 25px 40px 10px;
  animation: header-loading .5s;
  .logo {
    a { display: inline-block; }
    img {
      height: 25px;
      display: block;
    }
  }
  .menu {
    position: absolute;
    top: 20px; right: 40px;
  }
  li {
    display: inline-block;
    font-size: .85em;
    margin-left: 20px;
    color: $color-link;
    cursor: pointer;
    &:first-child { margin-left: 0; }
  }
  li a.active {
    cursor: normal;
    color: $color-black 
  }
  .icon a {
    padding: 8px;
    border: 1px solid $color-link;
    border-radius: 100%;
    font-size: 0.85em;
    opacity: .7;
    &:hover {
      background: $color-link;
      opacity: 1;
      color: $color-white;
    }
  }
}